<div class="container">
    <!-- Tabela de Conhecimentos Existentes -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Conhecimento</th>
                <th scope="col">Nível</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each conhecimentosUsuario}}
            <tr>
                <td>{{this.conhecimentoNome}}</td>
                <td>{{this.conhecimentoNivel}}</td>
                <td>
                    <a href="/conhecimentoAluno/delete/{{this.conhecimentoId}}" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Formulário para Adicionar Novo Conhecimento -->
    <form action="/conhecimentoAlunoUpdate" method="post">
        <input type="hidden" name="usuarioId" value="{{alunoId}}"> <div class="form-group">

        <div class="form-group">
            <label for="selectConhecimento">Adicionar Novo Conhecimento:</label>
            <select class="form-control" id="selectConhecimento" name="conhecimentoId" required>
                {{#each conhecimentosDisponiveis}}
                    <option value="{{this.id}}">{{this.nome}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="inputNivel">Nível (0 a 10):</label>
            <input type="number" class="form-control" id="inputNivel" name="nivel" min="0" max="10" required>
        </div>

        <button type="submit" class="btn btn-primary">Adicionar Conhecimento</button>
    </form>
</div>
