<form action="/projetoUpdate" method="post">
    <input type="hidden" name="id" value="{{projeto.id}}">
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" name="nome" value="{{projeto.nome}}">
    </div>

    <div class="form-group">
        <label for="inputResumo">Resumo</label>
        <input type="text" class="form-control" id="inputResumo" name="resumo" value="{{projeto.resumo}}">
    </div>
    <div class="form-group">
        <label for="inputLinkExterno">Link Externo</label>
        <input type="text" class="form-control" id="inputLinkExterno" name="link_externo" value="{{projeto.link_externo}}">
    </div>

    <div class="form-group">
        <label for="usuarioIds">Usuários:</label>
        <select name="usuarioIds" multiple class="form-control">
            {{#each projetoAlunos}}
                <option value="{{this.id}}" selected>{{this.login}}</option>
            {{/each}}
            {{#each alunos}}
                <option value="{{this.id}}">{{this.login}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="palavraChaveIds">Palavras Chave:</label>
        <select name="palavraChaveIds" multiple class="form-control">
            {{#each projetoPalavrasChave}}
                <option value="{{this.id}}" selected>{{this.nome}}</option>
            {{/each}}
            {{#each palavraChave}}
                <option value="{{this.id}}">{{this.nome}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<form action="/projetoDelete/{{projeto.id}}" method="post">
    <button type="submit" class="btn btn-danger">Remover Projeto</button>
</form>

<script>
    document.getElementById('editPalavrasChaveBtn').addEventListener('click', function() {
        var form = document.getElementById('editPalavrasChaveForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>