<form action="/projetoUpdate" method="post">
    <input type="hidden" name="id" value={{projeto.id}}>
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" name="nome" value="{{projeto.nome}}">
    </div>

    <div class="form-group">
        <label for="inputResumo">Resumo</label>
        <input type="text" class="form-control" id="inputResumo" name="resumo" value="{{projeto.resumo}}">
    </div>
    <div class="form-group">
        <label for="inputLinkExterno">Link Externo</label>
        <input type="text" class="form-control" id="inputLinkExterno" name="link_externo" value="{{projeto.link_externo}}">
    </div>

   <div class="form-group">
        <label for="palavraChave">Palavra Chave:</label>
        <table>
            {{#each palavraChave}}
            <tr>
                <td><input type="checkbox" name="palavraChave[]" value="{{id}}"></td>
                <td>{{nome}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="form-group">
        <label for="alunos">Alunos:</label>
        <table>
            {{#each alunos}}
            <tr>
                <td><input type="checkbox" name="alunos[]" value="{{id}}"></td>
                <td>{{login}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <br> <br>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>