<form action="/receitaUpdate" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value={{receita.id}}>
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" name="nome" value="{{receita.nome}}">
    </div>
    <div class="form-group">
        <label for="inputIngredientes">Ingredientes</label>
        <input type="text" class="form-control" id="inputIngredientes" name="ingredientes"
            value="{{receita.ingredientes}}">
    </div>
    <div class="form-group">
        <label for="inputImagem">Imagem</label>
        <input type="file" class="form-control" id="inputImagem" name="imagem">
    </div>
    <div class="form-group">
        <label for="inputPreparo">Preparo</label>
        <input type="text" class="form-control" id="inputPreparo" name="preparo" value="{{receita.preparo}}">
    </div>
    Categoria:
    <select name="categoriaId">
        {{#each categorias}}
        <tr>
            <option value={{id}}>{{nome}}</option>
        </tr>
        {{/each}}
    </select>
    <br> <br>
    <button type="submit" class="btn btn-primary">Editar</button>
        
</form>